
body{
    
}

.navbar-brand{
    font-family:ubuntu;
    font-size: 2.5rem;
    font-weight:bold;
}

.navbar{
 
    padding: 0 0 2.5rem;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-weight:bold;

}

#title {
    background-color: #ff4C68;
    color: white;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    line-height:1.5;
    color:inherit;
    
}
.container-fluid {
   padding:3% 15% 7%;
}
.btn{
    margin : 5% 3% 5% 0;
}
.title-image{
     width:60%;
     transform: rotate(25deg);
     position :absolute;
     right:30%;
    


}
#features {
    padding:7% 15%;
    position:relative;
    z-index:2;
    background-color:#fff;
 
   
}
.feature-box{
    text-align:center;
}
h3 {
    font-family: Montserrat;
    margin-top:10px;
}
.feature-box p {
    color: grey;
    font-size: 1.2rem;
}
.fas {
    color: #ff4C68;
}
#testimonials {
  
    text-align: center;
    background-color: #ff4C68;
    color : #fff;
}
    #testimonials h2 {
        font-family: Montserrat;
        font-size: 3rem;
        line-height: 1.5;
    }
#testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin:20px;
}
#press {
    background-color: #ff4C68;
    text-align:center;
   
    padding-bottom: 3%;
}
.press-logo{
  
    width:15%;
    margin:20px 20px 50px;
}
.carousel-item {
    padding: 7% 15%;
}
#pricing{
    
    padding:100px;
    text-align:center;
}
.pricing-col{
    padding:3% 2%;

}

@media (max-width: 1028px){
    .title-image{
        position : static;
        transform : rotate(0);
    }
    #title{
        text-align:center;
    }
}

#cta {
    background-color: #ff4C68;
    color:white;
    padding:7% 15%;
}
    #cta h3 {
        font-family: Montserrat;
    }

    .fab{
        margin-right:5px;
    }

#footer {
    padding: 7% 15%;
    text-align:center;
}
.iccon{
    margin :20px 10px;
}